<main class="layout">
    <div class="userList-wrapper" >

        <h1 class="heading">Users Dashboard</h1>
        <div class="searchDiv">
            <!-- <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search> -->
            <img src="../../../assets/images/search-icon.png" alt="search icon">
            <input class="input-wrapper" type="text" [(ngModel)]="searchText" placeholder="search by name">
        </div> 
        <div class="data-Container">
            <div class="table-container">
                <table class="table"  >
                    <thead >
                        <tr>
                            <th>Name</th>
                            <th class="display">Email</th>
                            <th class="display">Phone Number</th>
                            <th>User Reference</th>
                            <!-- <th>Date created</th> -->
                        </tr>
                    </thead>
                    <ng-container *ngFor="let user of users | filter: searchText">
                        <!-- *ngIf="searchText === '' || user.firstName.match(this.searchText.toLocaleLowerCase() )  " -->
                        <tbody class="table-body"  >
                            <tr>
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td class="display"> {{user.email}}</td>
                                <td class="display">{{user.phoneNumber}}</td>
                                <td>{{user.userReference}}</td>
                                <!-- <td>{{user.createdOn}}</td> -->
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <div class="profileDiv-wrapper">
        <div class="profileDiv">
            <img class="user-avatar"  src="../../../assets/images/user.png" alt="user icon">
            <h3>{{userDisplayName}}</h3>

            <!-- <span>
                Me 
                <img src="../../../assets/images/down-arrow.png" alt="caret down">
            </span> -->
        </div> 
        <button class="signOut-btn "  (click)="signOut()">
            <!-- <img src="../../../assets/images/exit.png" alt="sign out"> -->
            <span>sign out</span>
        </button>    
    </div>
</main>