<main class="layout">
    <div class="userList-wrapper" >

        <h1 class="heading">Users Dashboard</h1>
        <div class="searchDiv">
            <!-- <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search> -->
            <img src="../../../assets/images/search-icon.png" alt="search icon">
            <input class="input-wrapper" (appClickOutside)="toggleDropdown()" type="text" (click)="toggleDropdown()" [(ngModel)]="searchText" placeholder="search by name">
            <div *ngIf="collapseDropdown"  class="inputDropdown-wrapper">
                <div class="name-field">
                    
                </div>
            </div>
        </div> 
        <div class="data-Container">
            <div class="table-container">
                <table class="table"  >
                    <thead >
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <!-- <th>Phone Number</th> -->
                            <th>User Reference</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let user of users | filter: searchText">
                        <!-- *ngIf="searchText === '' || user.firstName.match(this.searchText.toLocaleLowerCase() )  " -->
                        <tbody class="table-body"  >
                            <tr>
                                <td>{{user.firstName}} {{user.lastName}}</td>
                                <td class="display"> {{user.email}}</td>
                                <td>{{user.userReference}}</td>
                                <!-- <td>{{user.createdOn}}</td> -->
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <!-- profile avatar and sign out -->
    <div class="profileDiv-wrapper">
        <div class="profileDiv">
            <figure class="user-avatar">
                <img class="img-fluid"  [src]="savedUser.photoURL" alt="user image">
            </figure>
            <h3>{{savedUser.displayName}}</h3>
        </div> 
        <button class="signOut-btn "  (click)="signOut()">
            <span>sign out</span>
        </button>    
    </div>
</main>