<div class="layout">
    <div class="wrapper">
        <figure>
            <img src="../../../assets/images/illustration-bg.jpg" class="img-fluid" alt="iillustration">
        </figure>
        <div class="sign-in-wrapper">
            <h2 class="header">
                Get exclusive access to <br>
                pro-user
            </h2>
            <button (click)="continueWithGoogle()" type="button" class="login-with-google-btn" >
                Sign in with Google
            </button>
        </div>
    </div>
</div> 