<div class="layout">
    <div class="form-wrapper">
        <form [formGroup]="signUpForm">
            <h3>Sign UP</h3>
            <div class="inputDiv">
                <label>Email</label>
                <input type="text" formControlName="userEmail">
            </div>
            <div class="inputDiv">
                <label>Password</label>
                <input type="password" formControlName="userPwd" >
            </div>
            <button (click)="signUp()">Log In</button>
        </form>
    </div>
</div> 