<main class="layout">
    <nav class="nav-bar">
        <div class="nav-title">
            ProUser
        </div>
        <button class="logIn-btn btn" routerLink="../log-in"> 
        <button class="logIn-btn btn">
            Log In
        </button>
    </nav>
      <!-- landing page -->
  <section class="header ">
    <div class="header-text ">
      <h1>Manage your users <br> efficiently </h1>
      <p>Build your brand's recognition and get detailed  insights on how your links are performing</p>
      <button class="btn getStarted-btn" routerLink="../sign-up">
      <h1>More Than Just <br> Shorter Links</h1>
      <p>Build your brand's recognition and get detailed  insights on how your links are performing</p>
      <button class="btn getStarted-btn">
        Get Started
      </button>
    </div>
    <figure>
      <img src="../../assets/images/illustration-working.svg" class="img-fluid" alt="">
    </figure>
  </section>

</main>