<main class="layout">
    <nav class="nav-bar">
        <div class="nav-title">
            <span>Pro</span>User
        </div>
        <button class="logIn-btn btn" routerLink="../login"> Log In </button>
    </nav>
      <!-- landing page -->
  <section class="header ">
    <div class="header-text ">
      <h1>Manage your users <br> efficiently </h1>
      <p>Access you user data and get detailed  insights on how your users are performing</p>
      <button class="btn getStarted-btn" routerLink="../login">
        Get Started
      </button>
    </div>
    <figure>
      <img src="../../assets/images/illustration-working.svg" class="img-fluid" alt="illustration">
    </figure>
  </section>

</main>