/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// button
.btn {
    background: cyan;
    border: none;
    border-radius: .25rem;
    outline: none;
    color: #fff;
    height: 2rem;
    font-weight: 500;
    font-size: large;
}